<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeremy.android.consumer">

    <uses-sdk tools:overrideLibrary="com.dd.circular.progress.button,
    com.jcodecraeer.xrecyclerview,
    com.kyleduo.switchbutton,
    com.trello.rxlifecycle2.components,
    com.trello.rxlifecycle2.android,
    com.trello.rxlifecycle2.internal,
    com.jakewharton.rxbinding,
    com.tbruyelle.rxpermissions2" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.newqm.sdkoffer.QuMiActivity"
            android:configChanges="keyboardHidden|orientation" />

        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cards.CardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addCard.AddCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cardDetail.CardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.BomSetting.BomSettingActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>